[Desktop Entry]
Name=Variety
Icon=variety
Exec=variety %u
StartupWMClass=Variety
Comment=Changes wallpapers from local and online sources
Comment[af]=Verander muurpapiere van plaaslike en aanlyn bronne
Comment[am]=ከአካባቢ እና ከመስመር ላይ ምንጮች ልብስ ግድግዳ ይለውጣል
Comment[an]=Cambea os fondos d'escritorio de fuents locals y en linia
Comment[ar]=يغيّر خلفيات سطح المكتب من مصادر محلية وعبر الإنترنت
Comment[as]=স্থানীয় আৰু অনলাইন উৎসৰ পৰা ৱালপেপাৰ সলনি কৰে
Comment[ast]=Camuda los fondos d'escritoriu de fontes llocales y en llinia
Comment[ayc]=Uraqpachana ukhamaraki internet ukatxa fondo escritorionakxa mayjt'ayi
Comment[az]=Yerli və onlayn mənbələrdən divar kağızlarını dəyişir
Comment[be]=Змяняе шпалеры з лакальных і анлайн крыніц
Comment[bg]=Сменя тапетите от локални и онлайн източници
Comment[bho]=स्थानीय आ ऑनलाइन स्रोत से वालपेपर बदलेला
Comment[bn]=স্থানীয় ও অনলাইন উৎস থেকে ওয়ালপেপার পরিবর্তন করে
Comment[bo]=ས་གནས་དང་དྲྭ་ཐོག་གི་འབྱུང་ཁུངས་ནས་མཐའ་སྐོར་རི་མོ་བརྗེ་བ།
Comment[br]=Cheñch a ra ar drekleuriennoù eus mammennoù lec'hel ha war-linenn
Comment[bs]=Mijenja pozadine sa lokalnih i online izvora
Comment[ca]=Canvia els fons de pantalla de fonts locals i en línia
Comment[ckb]=پەردەکانی سەرووی گۆڕی لە سەرچاوەی خۆماڵی و ئۆنلاین
Comment[cs]=Mění tapety z místních i online zdrojů
Comment[cy]=Yn newid papurau wal o ffynonellau lleol ac ar-lein
Comment[da]=Skifter baggrunde fra lokale og online kilder
Comment[de]=Ändert Hintergrundbilder aus lokalen und Online-Quellen
Comment[dv]=ލޯކަލް އަދި އޮންލައިން ސޯސްތަކުން ވޯލްޕޭޕަރ ބަދަލުކުރޭ
Comment[el]=Αλλάζει ταπετσαρίες από τοπικές και διαδικτυακές πηγές
Comment[en]=Changes wallpapers from local and online sources
Comment[eo]=Ŝanĝas ekranfonojn el lokaj kaj retaj fontoj
Comment[es]=Cambia los fondos de pantalla desde fuentes locales y en línea
Comment[et]=Muudab taustapilte kohalikest ja veebiallikatest
Comment[eu]=Horma-papera aldatzen du tokiko eta lineako iturrietatik
Comment[fa]=تصاویر پس‌زمینه را از منابع محلی و آنلاین تغییر می‌دهد
Comment[fi]=Vaihtaa taustakuvia paikallisista ja verkkolähteistä
Comment[fil]=Nagbabago ng wallpaper mula sa lokal at online na pinagmulan
Comment[fo]=Skiftir bakgrundsmyndir frá staðbundnum og online keldum
Comment[fr]=Change les fonds d'écran depuis des sources locales et en ligne
Comment[fy]=Ferannert eftergrûnen fan lokale en online boarnen
Comment[ga]=Athraíonn sé cúlraí ó fhoinsí áitiúla agus ar líne
Comment[gd]=Ag atharrachadh chùl-raointean bho stòran ionadail agus air-loidhne
Comment[gl]=Cambia os fondos de escritorio desde fontes locais e en liña
Comment[gu]=સ્થાનિક અને ઓનલાઇન સ્રોતોમાંથી વોલપેપર બદલે છે
Comment[he]=משנה טפטים ממקורות מקומיים ומקוונים
Comment[hi]=स्थानीय और ऑनलाइन स्रोतों से वॉलपेपर बदलता है
Comment[hne]=स्थानीय अउ ऑनलाइन स्रोत ले वालपेपर बदलथे
Comment[hr]=Mijenja pozadine s lokalnih i internetskih izvora
Comment[ht]=Chanje fon ekran soti nan sous lokal ak sou entènèt
Comment[hu]=Háttérképeket cserél helyi és online forrásokból
Comment[hy]=Փոխում է պաստառները տեղական և առցանց աղբյուրներից
Comment[id]=Mengubah wallpaper dari sumber lokal dan online
Comment[is]=Skiptir um bakgrunnsmyndir úr staðbundnum og netlægum heimildum
Comment[it]=Cambia gli sfondi da fonti locali e online
Comment[ka]=იცვლის ფონურ სურათებს ლოკალური და ონლაინ წყაროებიდან
Comment[kk]=Жергілікті және онлайн көздерден түсқағаздарды өзгертеді
Comment[km]=ផ្លាស់ប្ដូររូបភាពផ្ទាំងខាងក្រោយពីប្រភពក្នុងតំបន់ និងលើអ៊ីនធឺណិត
Comment[kn]=ಸ್ಥಳೀಯ ಮತ್ತು ಆನ್‌ಲೈನ್ ಮೂಲಗಳಿಂದ ವಾಲ್‌ಪೇಪರ್‌ಗಳನ್ನು ಬದಲಾಯಿಸುತ್ತದೆ
Comment[ko]=로컬 및 온라인 소스에서 배경화면을 변경합니다
Comment[ku]=Wêneyên paşxaneyê ji çavkaniyên herêmî û serhêl diguherîne
Comment[ky]=Жергиликтүү жана онлайн булактардан тушкагаздарды алмаштырат
Comment[lb]=Ännert Hannergrondbiller aus lokalen a Online-Quellen
Comment[lo]=ປ່ຽນຮູບພື້ນຫຼັງຈາກແຫຼ່ງທ້ອງຖິ່ນ ແລະ ອອນລາຍ
Comment[lt]=Keičia darbalaukio foną iš vietinių ir internetinių šaltinių
Comment[lv]=Maina fona attēlus no vietējiem un tiešsaistes avotiem
Comment[mg]=Manova ny sary afo avy amin'ny loharano eo an-toerana sy amin'ny aterineto
Comment[mi]=Whakarerekē i ngā pakitara mai i ngā puna ā-rohe me ā-ipurangi
Comment[mk]=Ги менува позадините од локални и онлајн извори
Comment[ml]=പ്രാദേശികവും ഓൺലൈനുമായ ഉറവിടങ്ങളിൽ നിന്ന് വാൾപേപ്പറുകൾ മാറ്റുന്നു
Comment[mn]=Дэлгэцийн зургийг локал болон онлайн эх сурвалжаас солино
Comment[mr]=स्थानिक आणि ऑनलाइन स्त्रोतांमधून वॉलपेपर बदलते
Comment[ms]=Menukar kertas dinding daripada sumber tempatan dan dalam talian
Comment[mt]=Ibiddel l-isfondi mingħand sorsi lokali u onlajn
Comment[my]=ဒေသတွင်းနှင့် အွန်လိုင်းရင်းမြစ်များမှ နောက်ခံပုံများကို ပြောင်းလဲပေးသည်
Comment[nb]=Bytter bakgrunnsbilder fra lokale og nettbaserte kilder
Comment[ne]=स्थानीय र अनलाइन स्रोतबाट वालपेपर परिवर्तन गर्दछ
Comment[nl]=Verandert bureaubladachtergronden uit lokale en online bronnen
Comment[nn]=Byter bakgrunnsbilete frå lokale og nettbaserte kjelder
Comment[oc]=Càmbia los fonses d'ecran de fonts localas e en linha
Comment[or]=ସ୍ଥାନୀୟ ଏବଂ ଅନଲାଇନ୍ ଉତ୍ସରୁ ୱାଲପେପର ପରିବର୍ତ୍ତନ କରେ
Comment[pa]=ਸਥਾਨਕ ਅਤੇ ਆਨਲਾਈਨ ਸਰੋਤਾਂ ਤੋਂ ਵਾਲਪੇਪਰ ਬਦਲਦਾ ਹੈ
Comment[pl]=Zmienia tapety z lokalnych i internetowych źródeł
Comment[ps]=د سیمه‌ییزو او آنلاین سرچینو څخه دیوال کاغذونه بدلوي
Comment[pt]=Muda os papéis de parede de fontes locais e online
Comment[quz]=Kaypi hinaspa internetpi kaq fondokunata tikrachin
Comment[ro]=Schimbă fundalurile din surse locale și online
Comment[ru]=Меняет обои с локальных и онлайн-источников
Comment[sa]=स्थानिकात् अन्तर्जालस्रोतेभ्यश्च वॉलपेपरं परिवर्तयति
Comment[sc]=Cambiat is isfundos de iscrivania de funtanas locales e in lìnia
Comment[sd]=مقامي ۽ آن لائين ذريعن مان وال پيپر تبديل ڪري ٿو
Comment[si]=ස්ථානීය සහ අන්තර්ජාල මූලාශ්‍රවලින් වෝල්පේපර මාරු කරයි
Comment[sk]=Mení tapety z miestnych a online zdrojov
Comment[sl]=Spreminja ozadja iz lokalnih in spletnih virov
Comment[so]=Wuxuu bedelaa sawirrada gadaal-hoosta ee ilo maxalli ah iyo internetka
Comment[sq]=Ndryshon sfondet nga burime lokale dhe në internet
Comment[sr]=Мења позадине са локалних и онлајн извора
Comment[sv]=Byter bakgrundsbilder från lokala och nätbaserade källor
Comment[sw]=Hubadilisha mandhari kutoka vyanzo vya ndani na mtandaoni
Comment[ta]=உள்ளூர் மற்றும் ஆன்லைன் மூலங்களிலிருந்து வால்பேப்பரை மாற்றுகிறது
Comment[te]=స్థానిక మరియు ఆన్‌లైన్ మూలాల నుండి వాల్‌పేపర్‌లను మారుస్తుంది
Comment[tg]=Обоҳоро аз манбаъҳои маҳаллӣ ва онлайн иваз мекунад
Comment[th]=เปลี่ยนวอลเปเปอร์จากแหล่งข้อมูลในเครื่องและออนไลน์
Comment[tk]=Ýerli we onlaýn çeşmelerden diwar kagyzlaryny üýtgedýär
Comment[tl]=Nagbabago ng wallpaper mula sa lokal at online na pinagmulan
Comment[tr]=Yerel ve çevrimiçi kaynaklardan duvar kağıtlarını değiştirir
Comment[tt]=Җирле һәм онлайн чыганаклардан фоннарны алыштыра
Comment[ug]=يەرلىك ۋە توردىكى مەنبەلەردىن تام قەغىزىنى ئۆزگەرتىدۇ
Comment[uk]=Змінює шпалери з локальних та онлайн джерел
Comment[unm]=Changes wallpapers from local and online sources
Comment[ur]=مقامی اور آن لائن ذرائع سے وال پیپر تبدیل کرتا ہے
Comment[uz]=Mahalliy va onlayn manbalardan devor qog'ozlarini o'zgartiradi
Comment[vi]=Thay đổi hình nền từ nguồn cục bộ và trực tuyến
Comment[xh]=Itshintsha imifanekiso yangasemva evela kwimithombo yasekuhlaleni nakwi-intanethi
Comment[yi]=טוישט וואַלפּעיפּערס פֿון לאָקאַלע און אָנליין קוואַלן
Comment[yo]=Ó máa ń yí ẹ̀yà ìdí àwòrán padà láti ọ̀dọ̀ orísun agbègbè àti orí ayélujára
Comment[yue]=由本機同網上來源轉換桌布
Comment[zh]=从本地和在线来源更换壁纸
Comment[zu]=Ishintsha izithombe zangemuva kusuka emithonjeni yendawo nakwi-inthanethi
Categories=Utility;
Type=Application
Keywords=Wallpaper;Changer;Change;Download;Downloader;Variety;
MimeType=text/uri-list;x-scheme-handler/variety;x-scheme-handler/vrty;
Actions=Next;Previous;PauseResume;History;Preferences;

[Desktop Action Next]
Exec=variety --next
Name=Next
Name[af]=Volgende
Name[am]=ቀጣይ
Name[an]=Sigient
Name[ar]=التالي
Name[as]=পৰৱৰ্তী
Name[ast]=Siguiente
Name[ayc]=Qhiparu
Name[az]=Növbəti
Name[be]=Наступны
Name[bg]=Следващ
Name[bho]=अगिला
Name[bn]=পরবর্তী
Name[bo]=རྗེས་མ
Name[br]=War-lerc'h
Name[bs]=Sljedeći
Name[ca]=Següent
Name[ckb]=دواتر
Name[cs]=Další
Name[cy]=Nesaf
Name[da]=Næste
Name[de]=Weiter
Name[dv]=ދެން
Name[el]=Επόμενο
Name[en]=Next
Name[eo]=Sekva
Name[es]=Siguiente
Name[et]=Järgmine
Name[eu]=Hurrengoa
Name[fa]=بعدی
Name[fi]=Seuraava
Name[fil]=Susunod
Name[fo]=Næsta
Name[fr]=Suivant
Name[fy]=Folgjende
Name[ga]=Ar Aghaidh
Name[gd]=Air adhart
Name[gl]=Seguinte
Name[gu]=આગળ
Name[he]=הבא
Name[hi]=अगला
Name[hne]=आगू
Name[hr]=Sljedeće
Name[ht]=Swivan
Name[hu]=Következő
Name[hy]=Հաջորդը
Name[id]=Berikutnya
Name[is]=Næsta
Name[it]=Successivo
Name[ka]=შემდეგი
Name[kk]=Келесі
Name[km]=បន្ទាប់
Name[kn]=ಮುಂದೆ
Name[ko]=다음
Name[ku]=Pêş
Name[ky]=Кийинки
Name[lb]=Nächst
Name[lo]=ຕໍ່ໄປ
Name[lt]=Kitas
Name[lv]=Nākamais
Name[mg]=Manaraka
Name[mi]=Panuku
Name[mk]=Следно
Name[ml]=അടുത്തത്
Name[mn]=Дараах
Name[mr]=पुढील
Name[ms]=Seterusnya
Name[mt]=Li jmiss
Name[my]=ရှေ့သို့
Name[nb]=Neste
Name[ne]=अर्को
Name[nl]=Volgende
Name[nn]=Neste
Name[oc]=Seguent
Name[or]=ପରବର୍ତ୍ତୀ
Name[pa]=ਅਗਲਾ
Name[pl]=Następny
Name[ps]=بل
Name[pt]=Seguinte
Name[quz]=Qatiqnin
Name[ro]=Următorul
Name[ru]=Следующий
Name[sa]=अग्रिमम्
Name[sc]=Sighente
Name[sd]=اڳيون
Name[si]=ඊළඟ
Name[sk]=Ďalší
Name[sl]=Naslednji
Name[so]=Xiga
Name[sq]=Tjetër
Name[sr]=Следеће
Name[sv]=Nästa
Name[sw]=Ijayo
Name[ta]=அடுத்து
Name[te]=తదుపరి
Name[tg]=Баъдӣ
Name[th]=ถัดไป
Name[tk]=Indiki
Name[tl]=Susunod
Name[tr]=Sonraki
Name[tt]=Киләсе
Name[ug]=كېيىنكى
Name[uk]=Наступний
Name[unm]=Next
Name[ur]=اگلا
Name[uz]=Keyingi
Name[vi]=Tiếp theo
Name[xh]=Okulandelayo
Name[yi]=ווייטער
Name[yo]=Tókàn
Name[yue]=下一個
Name[zh]=下一个
Name[zu]=Okulandelayo

[Desktop Action Previous]
Exec=variety --previous
Name=Previous
Name[af]=Vorige
Name[am]=ቀዳሚ
Name[an]=Anterior
Name[ar]=السابق
Name[as]=পূৰ্বৱৰ্তী
Name[ast]=Anterior
Name[ayc]=Nayrïri
Name[az]=Əvvəlki
Name[be]=Папярэдні
Name[bg]=Предишен
Name[bho]=पिछला
Name[bn]=পূর্ববর্তী
Name[bo]=སྔོན་མ
Name[br]=A-raok
Name[bs]=Prethodni
Name[ca]=Anterior
Name[ckb]=پێشتر
Name[cs]=Předchozí
Name[cy]=Blaenorol
Name[da]=Forrige
Name[de]=Zurück
Name[dv]=ކުރީގެ
Name[el]=Προηγούμενο
Name[en]=Previous
Name[eo]=Antaŭa
Name[es]=Anterior
Name[et]=Eelmine
Name[eu]=Aurrekoa
Name[fa]=قبلی
Name[fi]=Edellinen
Name[fil]=Nauna
Name[fo]=Fyrra
Name[fr]=Précédent
Name[fy]=Foarige
Name[ga]=Roimhe
Name[gd]=Roimhe
Name[gl]=Anterior
Name[gu]=પાછળ
Name[he]=הקודם
Name[hi]=पिछला
Name[hne]=पाछू
Name[hr]=Prethodno
Name[ht]=Anvan
Name[hu]=Előző
Name[hy]=Նախորդը
Name[id]=Sebelumnya
Name[is]=Fyrra
Name[it]=Precedente
Name[ka]=წინა
Name[kk]=Алдыңғы
Name[km]=មុន
Name[kn]=ಹಿಂದಿನ
Name[ko]=이전
Name[ku]=Paş
Name[ky]=Мурунку
Name[lb]=Virdrun
Name[lo]=ກ່ອນໜ້າ
Name[lt]=Ankstesnis
Name[lv]=Iepriekšējais
Name[mg]=Teo aloha
Name[mi]=Mua
Name[mk]=Претходно
Name[ml]=മുമ്പത്തേത്
Name[mn]=Өмнөх
Name[mr]=मागील
Name[ms]=Sebelumnya
Name[mt]=Ta' qabel
Name[my]=ရှေ့က
Name[nb]=Forrige
Name[ne]=अघिल्लो
Name[nl]=Vorige
Name[nn]=Førre
Name[oc]=Precedent
Name[or]=ପୂର୍ବବର୍ତ୍ତୀ
Name[pa]=ਪਿਛਲਾ
Name[pl]=Poprzedni
Name[ps]=پخوانی
Name[pt]=Anterior
Name[quz]=Ñawpaq
Name[ro]=Anteriorul
Name[ru]=Предыдущий
Name[sa]=पूर्वम्
Name[sc]=Antecedente
Name[sd]=پويون
Name[si]=පෙර
Name[sk]=Predchádzajúci
Name[sl]=Prejšnji
Name[so]=Hore
Name[sq]=I mëparshëm
Name[sr]=Претходно
Name[sv]=Föregående
Name[sw]=Iliyotangulia
Name[ta]=முந்தைய
Name[te]=మునుపటి
Name[tg]=Пешина
Name[th]=ก่อนหน้า
Name[tk]=Öňki
Name[tl]=Nakaraan
Name[tr]=Önceki
Name[tt]=Алдагы
Name[ug]=ئالدىنقى
Name[uk]=Попередній
Name[unm]=Previous
Name[ur]=پچھلا
Name[uz]=Oldingi
Name[vi]=Trước đó
Name[xh]=Okwangaphambili
Name[yi]=פֿריִערדיק
Name[yo]=Ṣáájú
Name[yue]=上一個
Name[zh]=上一个
Name[zu]=Okwangaphambilini

[Desktop Action PauseResume]
Exec=variety --toggle-pause
Name=Pause / Resume
Name[af]=Pouseer / Hervat
Name[am]=አቁም / ቀጥል
Name[an]=Pausar / Contimuar
Name[ar]=إيقاف مؤقت / استئناف
Name[as]=বিৰতি / পুনৰাম্ভ
Name[ast]=Posar / Siguir
Name[ayc]=Jark'aña / Sarantaña
Name[az]=Fasilə / Davam
Name[be]=Прыпыніць / Працягнуць
Name[bg]=Пауза / Възобновяване
Name[bho]=रोकीं / फेर से चालू करीं
Name[bn]=বিরতি / আবার শুরু
Name[bo]=བཀག་འགོག / སླར་འགོ
Name[br]=Ehan / Adkregiñ
Name[bs]=Pauza / Nastavi
Name[ca]=Pausa / Reprèn
Name[ckb]=وەستان / بەردەوامبوون
Name[cs]=Pozastavit / Pokračovat
Name[cy]=Seibio / Ailddechrau
Name[da]=Pause / Genoptag
Name[de]=Pause / Fortsetzen
Name[dv]=މެދުކަނޑާލާ / ދާރަކުރޭ
Name[el]=Παύση / Συνέχιση
Name[en]=Pause / Resume
Name[eo]=Paŭzi / Daŭrigi
Name[es]=Pausar / Reanudar
Name[et]=Peata / Jätka
Name[eu]=Pausatu / Jarraitu
Name[fa]=توقف / ازسرگیری
Name[fi]=Keskeytä / Jatka
Name[fil]=I-pause / Ipagpatuloy
Name[fo]=Steðga / Halda fram
Name[fr]=Pause / Reprendre
Name[fy]=Pauzearje / Trochgean
Name[ga]=Sos / Atosaigh
Name[gd]=Cuir 'na thàmh / Lean air
Name[gl]=Pausar / Retomar
Name[gu]=થોભાવો / ફરી શરૂ કરો
Name[he]=השהה / המשך
Name[hi]=रोकें / फिर से शुरू करें
Name[hne]=रोकव / फिर सुरू करव
Name[hr]=Pauza / Nastavi
Name[ht]=Pran poz / Kontinye
Name[hu]=Szünet / Folytatás
Name[hy]=Դադար / Շարունակել
Name[id]=Jeda / Lanjutkan
Name[is]=Gera hlé / Halda áfram
Name[it]=Pausa / Riprendi
Name[ka]=შეჩერება / გაგრძელება
Name[kk]=Кідірту / Жалғастыру
Name[km]=ផ្អាក / បន្ត
Name[kn]=ವಿರಾಮ / ಮುಂದುವರಿಸಿ
Name[ko]=일시정지 / 재개
Name[ku]=Rawestandin / Domandin
Name[ky]=Тындыруу / Улантуу
Name[lb]=Paus / Weiderfueren
Name[lo]=ຢຸດ / ສືບຕໍ່
Name[lt]=Pristabdyti / Tęsti
Name[lv]=Pauzēt / Turpināt
Name[mg]=Ajanony / Averina
Name[mi]=Whakatā / Haere tonu
Name[mk]=Пауза / Продолжи
Name[ml]=താൽക്കാലികമായി നിർത്തുക / തുടരുക
Name[mn]=Түр зогсоох / Үргэлжлүүлэх
Name[mr]=थांबवा / पुन्हा सुरू करा
Name[ms]=Jeda / Sambung
Name[mt]=Pawża / Kompli
Name[my]=ခေတ္တရပ် / ဆက်လုပ်
Name[nb]=Pause / Fortsett
Name[ne]=रोक्नुहोस् / जारी राख्नुहोस्
Name[nl]=Pauzeren / Hervatten
Name[nn]=Pause / Hald fram
Name[oc]=Pausa / Contunhar
Name[or]=ବିରତି / ପୁନଃଆରମ୍ଭ
Name[pa]=ਰੋਕੋ / ਮੁੜ ਸ਼ੁਰੂ ਕਰੋ
Name[pl]=Wstrzymaj / Wznów
Name[ps]=ودرول / بیا پیل
Name[pt]=Pausar / Retomar
Name[quz]=Samachiy / Qatichiy
Name[ro]=Pauză / Reluare
Name[ru]=Пауза / Продолжить
Name[sa]=विरामः / पुनः आरम्भः
Name[sc]=Pàusa / Sighi
Name[sd]=روڪيو / ٻيهر شروع ڪريو
Name[si]=විරාමය / නැවත ආරම්භය
Name[sk]=Pozastaviť / Pokračovať
Name[sl]=Premor / Nadaljuj
Name[so]=Joojin / Sii wad
Name[sq]=Pauzë / Vazhdo
Name[sr]=Паузирај / Настави
Name[sv]=Pausa / Återuppta
Name[sw]=Sitisha / Endelea
Name[ta]=இடைநிறுத்து / தொடரவும்
Name[te]=పాజ్ / కొనసాగించు
Name[tg]=Таваққуф / Идома
Name[th]=หยุดชั่วคราว / ดำเนินการต่อ
Name[tk]=Duruzmak / Dowam etmek
Name[tl]=I-pause / Ipagpatuloy
Name[tr]=Duraklat / Sürdür
Name[tt]=Туктату / Дәвам итү
Name[ug]=توختىتىش / داۋاملاشتۇرۇش
Name[uk]=Пауза / Відновити
Name[unm]=Pause / Resume
Name[ur]=روکیں / دوبارہ شروع کریں
Name[uz]=Pauza / Davom ettirish
Name[vi]=Tạm dừng / Tiếp tục
Name[xh]=Misa okwexeshana / Qhubeka
Name[yi]=אָפּשטעלן / פֿירן וויַטער
Name[yo]=Dúró / Tẹ̀síwájú
Name[yue]=暫停 / 繼續
Name[zh]=暂停 / 继续
Name[zu]=Misa okwesikhashana / Qhubeka

[Desktop Action History]
Exec=variety --history
Name=History
Name[af]=Geskiedenis
Name[am]=ታሪክ
Name[an]=Historial
Name[ar]=السجل
Name[as]=ইতিহাস
Name[ast]=Historial
Name[ayc]=Amtäwi
Name[az]=Tarixçə
Name[be]=Гісторыя
Name[bg]=История
Name[bho]=इतिहास
Name[bn]=ইতিহাস
Name[bo]=ལོ་རྒྱུས
Name[br]=Roll ar re gent
Name[bs]=Historija
Name[ca]=Historial
Name[ckb]=مێژوو
Name[cs]=Historie
Name[cy]=Hanes
Name[da]=Historik
Name[de]=Verlauf
Name[dv]=ތާރީޚް
Name[el]=Ιστορικό
Name[en]=History
Name[eo]=Historio
Name[es]=Historial
Name[et]=Ajalugu
Name[eu]=Historia
Name[fa]=تاریخچه
Name[fi]=Historia
Name[fil]=Kasaysayan
Name[fo]=Søgan
Name[fr]=Historique
Name[fy]=Skiednis
Name[ga]=Stair
Name[gd]=Eachdraidh
Name[gl]=Historial
Name[gu]=ઇતિહાસ
Name[he]=היסטוריה
Name[hi]=इतिहास
Name[hne]=इतिहास
Name[hr]=Povijest
Name[ht]=Istwa
Name[hu]=Előzmények
Name[hy]=Պատմություն
Name[id]=Riwayat
Name[is]=Ferill
Name[it]=Cronologia
Name[ka]=ისტორია
Name[kk]=Тарих
Name[km]=ប្រវត្តិ
Name[kn]=ಇತಿಹಾಸ
Name[ko]=기록
Name[ku]=Dîrok
Name[ky]=Тарых
Name[lb]=Historique
Name[lo]=ປະຫວັດ
Name[lt]=Istorija
Name[lv]=Vēsture
Name[mg]=Tantara
Name[mi]=Hītori
Name[mk]=Историја
Name[ml]=ചരിത്രം
Name[mn]=Түүх
Name[mr]=इतिहास
Name[ms]=Sejarah
Name[mt]=Storja
Name[my]=မှတ်တမ်း
Name[nb]=Historikk
Name[ne]=इतिहास
Name[nl]=Geschiedenis
Name[nn]=Historikk
Name[oc]=Istoric
Name[or]=ଇତିହାସ
Name[pa]=ਅਤੀਤ
Name[pl]=Historia
Name[ps]=تاریخچه
Name[pt]=Histórico
Name[quz]=Ñawpa ruwasqa
Name[ro]=Istoric
Name[ru]=История
Name[sa]=इतिहासः
Name[sc]=Istòria
Name[sd]=تاريخ
Name[si]=ඉතිහාසය
Name[sk]=História
Name[sl]=Zgodovina
Name[so]=Taariikh
Name[sq]=Historiku
Name[sr]=Историја
Name[sv]=Historik
Name[sw]=Historia
Name[ta]=வரலாறு
Name[te]=చరిత్ర
Name[tg]=Таърих
Name[th]=ประวัติ
Name[tk]=Taryh
Name[tl]=Kasaysayan
Name[tr]=Geçmiş
Name[tt]=Тарих
Name[ug]=تارىخ
Name[uk]=Історія
Name[unm]=History
Name[ur]=تاریخ
Name[uz]=Tarix
Name[vi]=Lịch sử
Name[xh]=Imbali
Name[yi]=געשיכטע
Name[yo]=Ìtàn
Name[yue]=歷史
Name[zh]=历史
Name[zu]=Umlando

[Desktop Action Preferences]
Exec=variety --preferences
Name=Preferences
Name[af]=Voorkeure
Name[am]=ምርጫዎች
Name[an]=Preferencias
Name[ar]=التفضيلات
Name[as]=পছন্দসমূহ
Name[ast]=Preferencies
Name[ayc]=Amtanaka
Name[az]=Seçimlər
Name[be]=Налады
Name[bg]=Настройки
Name[bho]=पसंद
Name[bn]=পছন্দসমূহ
Name[bo]=དགའ་གདམ
Name[br]=Dibaboù
Name[bs]=Postavke
Name[ca]=Preferències
Name[ckb]=هەڵبژاردەکان
Name[cs]=Předvolby
Name[cy]=Dewisiadau
Name[da]=Indstillinger
Name[de]=Einstellungen
Name[dv]=ތަރުޖަމާ
Name[el]=Προτιμήσεις
Name[en]=Preferences
Name[eo]=Preferoj
Name[es]=Preferencias
Name[et]=Eelistused
Name[eu]=Hobespenak
Name[fa]=ترجیحات
Name[fi]=Asetukset
Name[fil]=Mga Kagustuhan
Name[fo]=Stillingar
Name[fr]=Préférences
Name[fy]=Foarkarren
Name[ga]=Sainroghanna
Name[gd]=Roghainnean
Name[gl]=Preferencias
Name[gu]=પસંદગીઓ
Name[he]=העדפות
Name[hi]=प्राथमिकताएँ
Name[hne]=पसंद
Name[hr]=Postavke
Name[ht]=Preferans
Name[hu]=Beállítások
Name[hy]=Նախապատվություններ
Name[id]=Preferensi
Name[is]=Kjörstillingar
Name[it]=Preferenze
Name[ka]=პარამეტრები
Name[kk]=Параметрлер
Name[km]=ចំណូលចិត្ត
Name[kn]=ಆದ್ಯತೆಗಳು
Name[ko]=환경설정
Name[ku]=Vebijark
Name[ky]=Ырастоолор
Name[lb]=Astellungen
Name[lo]=ຕັ້ງຄ່າ
Name[lt]=Nuostatos
Name[lv]=Iestatījumi
Name[mg]=Safidy
Name[mi]=Whiringa
Name[mk]=Преференци
Name[ml]=മുൻഗണനകൾ
Name[mn]=Тохиргоо
Name[mr]=प्राधान्ये
Name[ms]=Keutamaan
Name[mt]=Preferenzi
Name[my]=နှစ်သက်ရာများ
Name[nb]=Innstillinger
Name[ne]=प्राथमिकताहरू
Name[nl]=Voorkeuren
Name[nn]=Innstillingar
Name[oc]=Preferéncias
Name[or]=ପସନ୍ଦ
Name[pa]=ਤਰਜੀਹਾਂ
Name[pl]=Preferencje
Name[ps]=غوره توبونه
Name[pt]=Preferências
Name[quz]=Munasqakuna
Name[ro]=Preferințe
Name[ru]=Настройки
Name[sa]=अभिरुचयः
Name[sc]=Preferèntzias
Name[sd]=ترجيحون
Name[si]=මනාපයන්
Name[sk]=Predvoľby
Name[sl]=Nastavitve
Name[so]=Doorbidyo
Name[sq]=Preferencat
Name[sr]=Подешавања
Name[sv]=Inställningar
Name[sw]=Mapendeleo
Name[ta]=விருப்பங்கள்
Name[te]=ప్రాధాన్యతలు
Name[tg]=Хусусиятҳо
Name[th]=การตั้งค่า
Name[tk]=Sazlamalar
Name[tl]=Kagustuhan
Name[tr]=Tercihler
Name[tt]=Көйләүләр
Name[ug]=مايىللىق
Name[uk]=Налаштування
Name[unm]=Preferences
Name[ur]=ترجیحات
Name[uz]=Sozlamalar
Name[vi]=Tùy chọn
Name[xh]=Iinketho
Name[yi]=פּרעפֿערענצן
Name[yo]=Àwọn ààyò
Name[yue]=偏好設定
Name[zh]=首选项
Name[zu]=Okuncamelayo
