Source: variety
Section: graphics
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python,
               python3,
               python3-distutils-extra (>= 2.18)
Maintainer: Peter Levi <peterlevi@peterlevi.com>
Uploaders: James Lu <james@overdrivenetworks.com>
Standards-Version: 4.1.0
Homepage: http://peterlevi.com/variety/
Vcs-Git: https://github.com/varietywalls/variety
Vcs-Browser: https://github.com/varietywalls/variety

Package: variety
Architecture: all
Depends: gir1.2-gdkpixbuf-2.0,
         gir1.2-gexiv2-0.10,
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         gir1.2-notify-0.7,
         gir1.2-pango-1.0,
         imagemagick,
         python3-bs4,
         python3-lxml,
         python3-cairo,
         python3-configobj,
         python3-dbus,
         python3-gi,
         python3-gi-cairo,
         python3-pil,
         python3-pkg-resources,
         python3-requests,
         ${misc:Depends},
         ${python3:Depends}
Recommends: gir1.2-ayatanaappindicator3-0.1 | gir1.2-appindicator3-0.1,
            python3-httplib2,
            fortune-mod
Suggests: feh | nitrogen,
          gnome-shell-extension-appindicator | gnome-shell-extension-top-icons-plus
Description: Wallpaper changer, downloader and manager
 Variety is an open-source wallpaper changer, downloader, and manager for
 Linux. It supports a variety of sources for wallpapers, including local
 files, online services such as Unsplash, Flickr, Wallhaven.cc, NASA Astronomy Picture
 of the Day, Desktoppr.co, and media RSS feeds (Picasa, deviantART, etc.).
 .
 You can also install the following (suggested) packages to enhance Variety's
 functionality on certain desktop setups:
  * feh | nitrogen: used for wallpaper changing on i3-wm, Openbox, and dwm
  * gnome-shell-extension-top-icons-plus: adds indicators support to GNOME
    Shell, so that Variety's tray icon can be displayed
