Source: variety
Section: python
Priority: extra
Build-Depends: debhelper (>= 8),
 python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10)
Maintainer: Peter Levi <peterlevi@peterlevi.com>
Standards-Version: 3.9.3
XS-Python-Version: current

Package: variety
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 gir1.2-notify-0.7,
 python-pycurl,
 python-configobj,
 python-pyexiv2,
 gir1.2-clutter-1.0,
 gir1.2-gtk-3.0,
 python-dbus,
 gir1.2-cogl-1.0,
 gir1.2-pango-1.0,
 gir1.2-glib-2.0,
 python-imaging,
 python-cairo,
 gir1.2-gdkpixbuf-2.0,
 python-lxml,
 python-bs4,
 gir1.2-webkit-3.0,
 gir1.2-gtkclutter-1.0,
 gir1.2-appindicator3-0.1,
 yelp,
 imagemagick,
 python-lxml,
 python-gi-cairo
Description: Wallpaper changer, downloader and manager
 Variety changes the desktop wallpaper regularly, using local or
 automatically downloaded images. Variety sits conveniently as an
 indicator in the panel and can be easily paused and resumed. The mouse
 wheel can be used to scroll wallpapers back and forthVariety can fetch
 wallpapers from Flickr, Wallbase.cc, Wallpapers.net, NASA Astronomy
 Picture of the Day, Desktoppr.co. Media RSS feeds from Picasa,
 deviantART or any other place are also supported.
